@import "tailwindcss";

@theme {
  --color-backgroundSecondary: var(--background-secondary);
  --color-btnHoverText: var(--btn-hover-text);
  --color-textPrimary: var(--text-primary);
  --color-textLoop: var(--text-loop);
  --color-primary: var(--primary);
  --color-hoverPrimary: var(--hover-primary);
  --color-borderPrimary: var(--border-primary);

  --font-sans: var(--font-inter), sans-serif;
  --font-header: var(--font-space-grotesk), sans-serif;
  --font-mono: var(--font-dm-mono), monospace;
}

.light {
  --background: #f7f8fa;
  --foreground: #140033;

  --background-secondary: rgba(255, 255, 255, 1);

  --text-primary: #0a0a0a;
  --text-loop: #cbd3e2;

  --primary: #6200ff;

  --hover-primary: #f4f4f5;
  --btn-hover-text: #f7f6ff;

  --border-primary: #e7ebf3;

  --globe-color: #ffffff;
  --polygon-color: #000000;
  --atmosphere-color: #000000;
}

.dark {
  --background: #0b0b0d;
  --foreground: #f5f5fa;

  --background-secondary: rgba(20, 20, 30, 0.9);

  --text-primary: #f7f6ff;
  --text-loop: #2d2a35;

  --primary: #6200ff;

  --hover-primary: #222125;
  --btn-hover-text: #0a0a0a;

  --border-primary: #141218;

  --globe-color: #000000;
  --polygon-color: #ffffff;
  --atmosphere-color: #ffffff;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: color 0.3s ease;
}

html.light body::before {
  animation: paintDiagonal 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
html:not(.light) body::before {
  animation: unpaintDiagonal 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  background-color: var(--background);
}

@keyframes paintDiagonal {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 0);
  }
  100% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@keyframes unpaintDiagonal {
  0% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 0);
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

/* Loader CSS */
.loader {
  --path: var(--foreground);
  --dot: var(--primary);
  --duration: 3s;
  width: 44px;
  height: 44px;
  position: relative;
  display: inline-block;
  margin: 0 16px;
}

.loader:before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  position: absolute;
  display: block;
  background: var(--dot);
  top: 37px;
  left: 19px;
  transform: translate(-18px, -18px);
  animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg {
  display: block;
  width: 100%;
  height: 100%;
}

.loader svg rect,
.loader svg polygon,
.loader svg circle {
  fill: none;
  stroke: var(--path);
  stroke-width: 10px;
  stroke-linejoin: round;
  stroke-linecap: round;
}

.loader svg polygon {
  stroke-dasharray: 145 76 145 76;
  stroke-dashoffset: 0;
  animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader svg rect {
  stroke-dasharray: 192 64 192 64;
  stroke-dashoffset: 0;
  animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
}

.loader svg circle {
  stroke-dasharray: 150 50 150 50;
  stroke-dashoffset: 75;
  animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

.loader.triangle {
  width: 48px;
}

.loader.triangle:before {
  left: 21px;
  transform: translate(-10px, -18px);
  animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86)
    infinite;
}

@keyframes pathTriangle {
  33% {
    stroke-dashoffset: 74;
  }

  66% {
    stroke-dashoffset: 147;
  }

  100% {
    stroke-dashoffset: 221;
  }
}

@keyframes dotTriangle {
  33% {
    transform: translate(0, 0);
  }

  66% {
    transform: translate(10px, -18px);
  }

  100% {
    transform: translate(-10px, -18px);
  }
}

@keyframes pathRect {
  25% {
    stroke-dashoffset: 64;
  }

  50% {
    stroke-dashoffset: 128;
  }

  75% {
    stroke-dashoffset: 192;
  }

  100% {
    stroke-dashoffset: 256;
  }
}

@keyframes dotRect {
  25% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(18px, -18px);
  }

  75% {
    transform: translate(0, -36px);
  }

  100% {
    transform: translate(-18px, -18px);
  }
}

@keyframes pathCircle {
  25% {
    stroke-dashoffset: 125;
  }

  50% {
    stroke-dashoffset: 175;
  }

  75% {
    stroke-dashoffset: 225;
  }

  100% {
    stroke-dashoffset: 275;
  }
}
