@import "tailwindcss";

@theme {
  --color-backgroundSecondary: var(--background-secondary);
  --color-btnHoverText: var(--btn-hover-text);
  --color-textPrimary: var(--text-primary);
  --color-textLoop: var(--text-loop);
  --color-primary: var(--primary);
  --color-hoverPrimary: var(--hover-primary);
  --color-borderPrimary: var(--border-primary);

  --font-sans: var(--font-inter), sans-serif;
  --font-header: var(--font-space-grotesk), sans-serif;
  --font-mono: var(--font-dm-mono), monospace;
}

.light {
  --background: #f7f8fa;
  --foreground: #140033;

  --background-secondary: rgba(255, 255, 255, 1);

  --text-primary: #0a0a0a;
  --text-loop: #cbd3e2;

  --primary: #6200FF;

  --hover-primary: #f4f4f5;
  --btn-hover-text: #f7f6ff;

  --border-primary: #e7ebf3;
}

.dark {
  --background: #0b0b0d;
  --foreground: #f5f5fa;

  --background-secondary: rgba(0, 0, 0, 0.6);

  --text-primary: #f7f6ff;
  --text-loop: #2d2a35;

  --primary: #6200FF;

  --hover-primary: #222125;
  --btn-hover-text: #0a0a0a;

  --border-primary: #141218;
}

html {
  scrollbar-width: none;
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition: color 0.3s ease;
}

html.light body::before {
  animation: paintDiagonal 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}
html:not(.light) body::before {
  animation: unpaintDiagonal 0.8s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  background-color: var(--background);
}

@keyframes paintDiagonal {
  0% {
    clip-path: polygon(100% 0, 100% 0, 100% 0);
  }
  100% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
}

@keyframes unpaintDiagonal {
  0% {
    clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 0);
  }
  100% {
    clip-path: polygon(100% 0, 100% 0, 100% 0);
  }
}

.no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
